body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    color: white;
}

/* font-family: 'Inter', sans-serif; */